@charset "UTF-8";

@itemwidth: 450px;
@itemheight: 180px;

.weatherItem {
  width: @itemwidth;
  height: @itemheight * 5;
  background-position: right top;
}
.weatherRange {
  height: 160px;
}
.weatherForecastItem {
  height: @itemheight;
  background-position: right center;
}
