p {
  color: #800;
}
label {
  color: #800;
}

/* survey view page*/
.survey-view-header {
    /*background: #252824;*/
    background-color: @brand-primary;
    padding: 0 30px;
}
.survey-view-title {
    padding: 20px 0;
    /*color: #eee;*/
}

.survey-view-title h1 {
    margin: 0;
    line-height: 1.2em;
    text-align: left;
}

.survey-view-info {
    padding: 10px 0 0 30px;
    /*color: #aaa;
    background: #323530;*/
    background-color: @brand-warning;
    line-height: 1.4em;
    font-size:12pt;
}

.survey-view-info p{
    color: #ffffff;
}

.survey-view-map {

    border-top: 1px solid #ccc;
    /*background: #60a333;*/
}

.survey-view-map .address {
    padding: 10px 0 0 30px;
    /*color: #fff;*/
    line-height: 1.4em;
    font-size:14pt;
}

.survey-view-date h2 {
    border-top-style: none;
    border-top-width: 0px;
    padding-top: 0px;
    margin-top: 20px;
}

table.survey-date tr th {
    /*background: #0066FF;
    color:#fff;*/
}


.survey-view-list {
    /*background: #323530;
    color: #60a333;
    padding: 20px 0 30px 0;*/
    border-color: #555;
}

.survey-view-list > .panel-heading {
    color: #fff;
    background-color: #555;
    border-color: #555;
}

.survey-view-list h2 {
    padding: 0 20px;
    font-family: inherit;
    font-weight: 700;
    line-height: 48px;
    font-size: 1.5em;
    /*color: #eee;*/
    -webkit-margin-before: 0.83em;
    -webkit-margin-after: 0.83em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}

table.survey-list tr th {
    /*color:#fff;*/
}

/* home page */
.slo1 {
  padding: 40px;
  text-align: center;
  color: #A8A8A8;
  font-family: arial, helvetica, sans-serif;
  font: normal normal bold 15px/1.4em fantasy;
}
.slo1 p {
  font-size: 24px;
}
.slo2 {
  padding: 40px;
  text-align: center;
  color: #606060;
  background-color: rgba(169, 138, 0, 0.34902);
}
.slo2 p {
  font-size: 18px;
}
.slo3 {
  padding: 40px;
  text-align: center;
  color: #606060;
  background-color: rgba(84, 69, 0, 0.219608);
}
.slo3 p {
  font-size: 18px;
}
.slo4 {
  padding: 40px;
  text-align: center;
  color: #606060;
  background-color: rgba(255, 203, 5, 0.368627);
}
.slo4 p {
  font-size: 18px;
}
[class^="icon-"],
[class*=" icon-"] {
  display: inline-block;
  width: 14px;
  height: 14px;
  margin-top: 1px;
  *margin-right: .3em;
  line-height: 14px;
  vertical-align: text-top;
  background-image: url("../img/glyphicons-halflings.png");
  background-position: 14px 14px;
  background-repeat: no-repeat;
}
/* White icons with optional class, or on hover/focus/active states of certain elements */
.icon-white,
.nav-pills > .active > a > [class^="icon-"],
.nav-pills > .active > a > [class*=" icon-"],
.nav-list > .active > a > [class^="icon-"],
.nav-list > .active > a > [class*=" icon-"],
.navbar-inverse .nav > .active > a > [class^="icon-"],
.navbar-inverse .nav > .active > a > [class*=" icon-"],
.dropdown-menu > li > a:hover > [class^="icon-"],
.dropdown-menu > li > a:focus > [class^="icon-"],
.dropdown-menu > li > a:hover > [class*=" icon-"],
.dropdown-menu > li > a:focus > [class*=" icon-"],
.dropdown-menu > .active > a > [class^="icon-"],
.dropdown-menu > .active > a > [class*=" icon-"],
.dropdown-submenu:hover > a > [class^="icon-"],
.dropdown-submenu:focus > a > [class^="icon-"],
.dropdown-submenu:hover > a > [class*=" icon-"],
.dropdown-submenu:focus > a > [class*=" icon-"] {
  background-image: url("../img/glyphicons-halflings-white.png");
}
.icon-chevron-up {
  background-position: -288px -120px;
}
.icon-chevron-down {
  background-position: -313px -119px;
}
