p {
  color: #800;
}
label {
  color: #800;
}

.gray-block{
    background-color: #ebeeed;
}

/* survey view page*/
.survey-view-header {
    /*background: #252824;*/
    background-color: @brand-primary;
    padding: 0 30px;
}
.survey-view-title {
    padding: 20px 0;
    /*color: #eee;*/
}

.survey-view-title h1 {
    margin: 0;
    line-height: 1.2em;
    text-align: left;
}

.survey-view-info {
    padding: 10px 0 0 30px;
    /*color: #aaa;
    background: #323530;*/
    background-color: @brand-warning;
    line-height: 1.4em;
    font-size:12pt;
}

.survey-view-info p{
    color: #ffffff;
}

.survey-view-map {

    border-top: 1px solid #ccc;
    /*background: #60a333;*/
}

.survey-view-map .address {
    padding: 10px 0 0 30px;
    /*color: #fff;*/
    line-height: 1.4em;
    font-size:14pt;
}

.survey-view-date h2 {
    border-top-style: none;
    border-top-width: 0px;
    padding-top: 0px;
    margin-top: 20px;
}

table.survey-date tr th {
    /*background: #0066FF;
    color:#fff;*/
}


.survey-view-list {
    /*background: #323530;
    color: #60a333;
    padding: 20px 0 30px 0;*/
    border-color: #555;
}

.survey-view-list > .panel-heading {
    color: #fff;
    background-color: #555;
    border-color: #555;
}

.survey-view-list h2 {
    padding: 0 20px;
    font-family: inherit;
    font-weight: 700;
    line-height: 48px;
    font-size: 1.5em;
    /*color: #eee;*/
    -webkit-margin-before: 0.83em;
    -webkit-margin-after: 0.83em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}

table.survey-list tr th {
    /*color:#fff;*/
}

/* home page */
.homepage-jumbotron .jumbotron {
    margin-bottom: 0px;
    background-image: url(../img/afternoon-tea.jpg);
    background-position: 0% 25%;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
}

